
#winPage{
    position: absolute;
    background-image: url('../img/winner.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10000 !important;
    display: flex;
    flex: 1;
    cursor: pointer;
}

#losePage{
    position: absolute;
    background-image: url('../img/loser.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10000;
    display: flex;
    flex: 1;
    cursor: pointer;
}
